@font-face {
    font-family: "8bits";
    src: url("../fonts/8-BitMadness.ttf");
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "8bits";
    transform: scale(0.75);
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
}

#gameBoard {
    width: 800px;
    height: 800px;
    margin: auto;
    background: #aaa69d;
    border: 25px solid #84817a;
    position: relative;
}

#player {
    z-index: 2;
    height: 50px;
    width: 50px;
    position: absolute;
    background: #ffb142;
    left: 350px;
    top: 350px;
}

.ennemi {
    z-index: 1;
    height: 50px;
    width: 50px;
    position: absolute;
    background: #2c2c54;
}

.bomb {
    z-index: 3;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    background: #b33939;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: blink 1s reverse infinite;
    -webkit-animation: blink 1s reverse infinite;
}

.explosion {
    z-index: 4;
    width: 150px;
    height: 150px;
    position: absolute;
    background: #cd6133;
}

.touched {
    animation: touchedFrames 1s linear infinite;
    -webkit-animation: touchedFrames 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes touchedFrames {
    0% {
        background: #000;
        opacity: 0.75;
    }

    50% {
        background: #ffb142;
        opacity: 0.75;
    }

    100% {
        background: #000;
        opacity: 0.75;
    }
}

.gameover {
    z-index: 5;
    color: #b33939;
    position: absolute;
    width: 80%;
    margin: 0;
    text-align: center;
    font-size: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.win {
    z-index: 5;
    color: #218c74;
    position: absolute;
    width: 80%;
    margin: 0;
    text-align: center;
    font-size: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#rules {
    position: fixed;
    top: 50%;
    left: 0;
    font-size: 1.8rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#lives {
    position: fixed;
    top: 50%;
    right: 0;
    font-size: 1.8rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
